@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Jost', sans-serif !important;
}

.back-image {
    background-image: url('/asset-54.jpg');
    background-size: cover !important;
    background-position: center center !important;
    position: fixed;
    filter: blur(6px);
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.back-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgb(10, 14, 23);
    background: linear-gradient(90deg, rgba(10, 14, 23, 0.6) 0%, rgba(10, 14, 23, 0.6) 100%);
    z-index: 9;
}

#pms_login {
    padding: 30px;
    background: #161616;
    position: relative;
    z-index: 99999;
    width: 500px;
    display: inline-block;
    text-align: left;
}

#pms_login h4,
#pms_register-form h4,
#pms_recover_password_form h4 {
    border-bottom: 1px solid #221f1f;
    position: relative;
    margin: 0px 0 20px 0;
    padding: 0 0 10px 0;
    text-transform: uppercase;
    font-size: 28px;
    font-style: normal;
    line-height: 36px;
    color: #fff;
}

#pms_login h4:before,
#pms_register-form h4:before,
#pms_recover_password_form h4:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    display: inline-block;
    width: 100px;
    height: 3px;
    background: #e50916;
}

#pms_login p {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

#pms_login p label {
    margin: 0;
    font-family: 'Jost', sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 40px;
    font-size: 18px;
}

input {
    background: #221f1f;
    border: 1px solid #221f1f;
    color: #fff;
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 0 15px;
    height: 54px;
    line-height: 54px;
    outline: none;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
}

input[type="checkbox"] {
    width: auto;
    height: auto;
    float: none;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 0;
}

input[type="submit"] {
    padding: 8px 30px;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    background: #e50916;
    text-transform: capitalize;
    color: #fff !important;
    display: inline-block;
    border: none;
    width: auto;
    height: auto;
    line-height: 2;
    text-transform: uppercase;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
}



.bg-image {
    background-image: url('/asset-37.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: rgb(34, 31, 31);
    background: linear-gradient(to right, rgba(34, 31, 31, 1) 0%, rgba(34, 31, 31, 0.4) 100%);
}


.text-editor h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 42px;
    font-weight: 700;
    color: #fff !important;
    margin-bottom: 10px;
}

.text-editor p {
    font-size: 18px;
    color: #cecfd1 !important;
    margin-bottom: 20px;
}

.text-editor a {
    font-size: 16px;
    text-decoration: underline;
    color: #57B9FF !important;
    margin-bottom: 20px;
}

.text-editor ul li {
    font-size: 16px;
    list-style: disc;
    color: #fff !important;
    margin-bottom: 5px;
}

.text-editor ol li {
    font-size: 16px;
    list-style: decimal;
    color: #fff !important;
    margin-bottom: 5px;
}

.text-editor table {
    width: 100%;
    background-color: #221f1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-editor table thead th {
    background-color: #161616;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

.text-editor table tbody td {
    padding: 14px 18px;
    font-size: 15px;
}

.text-editor table td p,
th p {
    margin: 0;
}

.scrollbarWidth{
    scrollbar-width: none;
}